<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>错误</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/bootstrap-theme.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="container">
	<div class="text-center">

		<div class="panel panel-default">
			<h4 class="panel-header">访问的页面发生错误[[${status}]]</h4>

			<div class="panel-body alert alert-danger">
				<p th:text="${error}" >message</p>
				<p>[[${exception}]] <a href="#detail" data-toggle="collapse">详情</a></p>
			</div>

		</div> 
		
	</div>
	<div th:text="${trace}"  class="collapse"  id="detail">详情</div>
</body>
</html>