<!DOCTYPE html>
<html  layout:decorator="/admin/layout">
<head>
<meta charset="UTF-8">
<title>新增 [[${entityMeta.entityName}]]</title>
</head>
<body>
<section class="content"  layout:fragment="content"> 
<div class="box" >
<h3 class="box-header" >新增 [[${entityMeta.entityName}]]</h3>
	<form method="post"   action=""
		th:action="@{/admin/entity/create/__${entityName}__}"
		class="form-horizontal">
			<div class="form-group" th:each="c : ${columns}"	th:if="${c.uiMeta.insertAble and  c.uiMeta.visable}">
			<label class="col-sm-2  text-right" th:text="${c.title}">title</label>
			<div class="col-sm-10" th:object="${entity}" th:switch="${c.uiMeta.uiType.toString()}" 
			th:classappend="${#fields.hasErrors( c.dataKey )}?'has-error':'' " >
			
			<th:block th:case="Number">
				<input 	th:field="*{__${c.dataKey}__}" 	type="number" class="form-control" />
			</th:block>
			
			<th:block th:case="Date">
				<input  th:field="*{__${c.dataKey}__}" type="text"  class="form-control _date" /> 
			</th:block>
			
			<th:block th:case="DateTime">
				<input  th:field="*{__${c.dataKey}__}" type="text"  class="form-control _datetime" />
			</th:block>
			
			<th:block th:case="Boolean">
				<input type="radio"  th:field="*{__${c.dataKey}__}"    value="1"/>是
				<input type="radio"  th:field="*{__${c.dataKey}__}"     value="0"/>否
			</th:block>
			
			<div th:case="Img" class=" row" mutilfile="false">
				<div th:url="@{/system/common/upload}" class="col-sm-6 _uploadContainer">
				 <input type="file" 	th:hidName="${c.dataKey}"   /> </div>
			</div>
			
			<div th:case="File" class="row"  th:attrappend="mutilfile=${c.uiMeta.multi}" >
				<div  th:url="@{/system/common/upload}" class="col-sm-6 _uploadContainer">
				  <input type="file"  th:hidName="${c.dataKey}"   /> </div>
			</div>
			
			<th:block th:case="Dictionary">
				<select class="form-control" th:field="*{__${c.dataKey}__}">
						<option th:each="o : ${entityUtil.getDictMap(c)}"
							th:text="${o.value}" th:value="${o.key}">
				</select>
			</th:block>
			
			<th:block th:case="Password">
				<input  th:field="*{__${c.dataKey}__}" type="password"  class="form-control"   />
			</th:block>
			
			<textarea class="_richeditor form-control"  th:case="RichContent"  th:field="*{__${c.dataKey}__}"></textarea>
		    <p th:if="${#fields.hasErrors(c.dataKey)}"    th:errors="*{__${c.dataKey}__}">Incorrect date</p>
		   
			<th:block th:case="Pick"  >
				<select class="_select2 form-control" th:field="*{__${c.dataKey}__}"
				 th:attrappend="data-ajax-url=@{/admin/entity/pick/__${c.uiMeta.pickEntityShortName}__}"
				 th:multiple="${c.uiMeta.multiPick}"
				 >
				
				</select>
			</th:block>
			
			<div th:case="List">
				<input th:field="*{__${c.dataKey}__}" type="text" class="form-control" />
				<button class="_input_list_row_add"><i class="glyphicon glyphicon-plus"></i></button>
				<button class="_input_list_row_remove"><i class="glyphicon glyphicon-remove"></i></button>
			</div>
			
			
			<textarea th:case="TextArea" class="form-control" th:field="*{__${c.dataKey}__}"></textarea>
			<input th:case="*"  th:field="*{__${c.dataKey}__}" type="text"  class="form-control"   />
			
		   
			</div>
		</div>


		<div class="text-center" style="padding-bottom:10px">
			<button type="submit" class="btn btn-save">保存</button>
			<button type="button" class="btn btn-cancel  _createcancel" data-dismiss="modal">取消</button>
		</div>
	</form>
</div>

</section>
<th:block layout:fragment="js">
<link rel="stylesheet" type="text/css" th:href="@{/bower_components/select2/dist/css/select2.min.css}">
<!-- <script type="text/javascript" th:src="@{/bower_components/select2/dist/js/i18n/zh-CN.js}"></script> -->
<script type="text/javascript" th:src="@{/bower_components/select2/dist/js/select2.min.js}"></script>

<script th:inline="javascript">
$(function(){
	var rus={},message={};
	var columns=[[${columns}]];
	columns.forEach(function(c){
		var name=c.dataKey;
		var vm=c.uiMeta.validMeta;
		if(vm && vm.length>0){
			var r={};
			var rm={};
			vm.forEach(function(v){
				r[v.validName]= v.validConstraint;
				rm[v.validName]=v.errorMsg;
			})
			rus[name]=r;
			message[name]=rm;
		}
		 
	})
	 $('form').validate({rules:rus,messages:message});
})

 
</script>
</th:block>

</body>
</html>