<!DOCTYPE html>
<html layout:decorator="/admin/layout">
<head>
<meta charset="UTF-8"></meta>

<title>list</title>
</head>
<body>
	<section class="content" layout:fragment="content">
		<h4>
		<a th:href="@{/admin/entity/list/__${owner}__}"	> <span th:text="${ownerObj }">owner</span></a>/<span th:text="${entityMeta.entityName}">property</span></h4>
	  
		<div class="box">
			<form th:action="@{/admin/entity/picklist/__${owner}__/__${ownerid}__/__${entity}__}">
				<table class="table table-responsive table-hover ">
					<thead>
						<tr>
							<th><input class="_ckall" type="checkbox"></th>
							<th th:each="c : ${columns}"><a class="sorted">[[${c.title}?:_]]</a>
							</th>
							<th><a href="javascript:">操作</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${page}">
							<td><input type="checkbox" class="_ck" th:name="ids"
								th:value="${row.id}"></td>
							<td scope="row" th:each="c:${columns}"
								th:switch="${c.uiMeta.uiType.toString()}"><th:block
									th:case="File">
									<ol th:if="${c.uiMeta.multi}">
										<li th:each="item :${entityUtil.getColumnValue(row,c)}"
											th:if="${not #strings.isEmpty(item)}"><a
											class="_autoelipse" th:href="@{/__${item}__}"
											th:if="${not #strings.isEmpty(item)}" th:title="${item}"
											th:text="${item}">download</a></li>
									</ol>
									<a
										th:if="${not c.uiMeta.multi and entityUtil.getColumnValue(row,c)!=null}"
										th:href="@{/__${entityUtil.getColumnValue(row,c)}__}">下载</a>
								</th:block> <th:block th:with="v=${entityUtil.getColumnValue(row,c)}">
									<a th:case="Img" th:if="${v!=null and !#strings.isEmpty(v)}"
										th:href="@{/__${v}__}">原图</a>
								</th:block>
								 <span th:case="Dictionary"
								th:text="${entityUtil.getDictText(row,c)}"></span> 
								
								<span th:case="Password">******</span> 
								<th:block th:case="Pick">
									 
									<th:block	th:if="${c.uiMeta.multiPick}">
										<a class="btn btn-link" th:href="@{/admin/entity/picklist/__${entityName}__/__${row.id}__/__${entityUtil.getPickEntityClass(c).simpleName}__}">详情  </a>
									 </th:block>
									<th:block th:if="${not c.uiMeta.multiPick}" th:with="value=${entityUtil.getColumnValue(row,c)}">
										<a
										th:href="@{/admin/entity/detail/__${c.uiMeta.pickEntityShortName}__/__${value.id}__}"
										th:if="${value!=null}"
										th:text="${entityUtil.getColumnValue(row,c)}">siglePick</a>
									</th:block>
									
								</th:block>
								<span th:case="Date"
								th:text="${#dates.format(entityUtil.getColumnValue(row,c),'yyyy-MM-dd')}">Date</span>
								<span th:case="DateTime"
								th:text="${#dates.format(entityUtil.getColumnValue(row,c),'yyyy-MM-dd HH:mm:ss')}">DateTime</span>
								<span th:case="*" th:title="${entityUtil.getColumnValue(row,c)}"
								class="_autoelipse"
								th:text="${entityUtil.getColumnValue(row,c)}">其他类型显示</span></td>
							<td><a
								th:href="@{/admin/entity/detail/__${entityName}__/__${row.id}__}">详情</a>
								<a
								th:href="@{/admin/entity/edit/__${entityName}__/__${row.id}__}">编辑</a>
								<a
								th:href="@{/admin/entity/delete/__${entityName}__?ids=__${row.id}__}"
								onclick="return confirm('确定要删除吗？')">删除</a></td>
						</tr>
					</tbody>
					
				</table>

				<!-- pagination  -->
				<div class="panel panel-default" th:text="${querymap.get('queryDesc')}"></div>
				<div class="row">
					<div class="col-sm-6">
						<section>
							<a href="#querybox" data-toggle="collapse" class="btn">展开搜索框</a> <select
								th:object="${page}" th:field="*{size}"
								onchange="$(form).submit()">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="50">50</option>
							</select> <label sd:pagination-summary=""></label>

						</section>
					</div>
					<div class="col-sm-6">
					 
						<nav class="pull-right">
							<ul class="pagination" sd:pagination="full">
								<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
								<li class="disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>

 			<section th:replace="/admin/entity/searchBox"></section>
 			
			</form>
		</div>
	</section>
</body>
</html>