
<section class="collapse" id="querybox">

	<th:block th:each="c : ${columns}">
		<div
			th:if="${ T(Number).isAssignableFrom(c.javaClass) && !c.uiMeta.uiType.toString().equals('Dictionary')} "
			class="form-group row">
			<label th:text="${c.title}"
				class="text-right col-sm-2 col-form-label">title</label>
			<div class="col-sm-2">
				<select onchange="_toggleBetwwenInput(this)"
					th:name="${c.dataKey+'_operation'}"
					th:value="${querymap.get(c.dataKey+'_operation')}"
					class="form-control">
					<option value="">请选择条件</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='betwwen'}"
						value="betwwen">区间</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='>'}"
						value=">">大于</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='<'}"
						value="<">小于</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='=='}"
						value="==">等于</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='is null'}"
						value="is null">为空</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='is not null'}"
						value="is not null">不为空</option>
				</select>
			</div>
			<div class="col-sm-4">
				<input th:name="${c.dataKey}" th:value="${querymap.get(c.dataKey)}"
					type="text" class="form-control _number">
			</div>
			<div class="col-sm-4" th:id="${c.dataKey}">
				<input th:name="${c.dataKey+'_bw2'}"
					th:value="${querymap.get(c.dataKey+'_bw2')}" type="text"
					class="form-control _number">
			</div>
		</div>

		<div th:if="${T(java.util.Date).isAssignableFrom(c.javaClass)} "
			class="form-group row">
			<label th:text="${c.title}"
				class="text-right col-sm-2 col-form-label">title</label>
			<div class="col-sm-2">
				<select onchange="_toggleBetwwenInput(this)"
					th:name="${c.dataKey+'_operation'}"
					th:value="${querymap.get(c.dataKey+'_operation')}"
					class="form-control">
					<option value="">请选择条件</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='betwwen'}"
						value="betwwen">区间</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='>'}"
						value=">">大于</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='<'}"
						value="<">小于</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='=='}"
						value="==">等于</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='is null'}"
						value="is null">为空</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='is not null'}"
						value="is not null">不为空</option>
				</select>
			</div>
			<div class="col-sm-4">
				<input th:name="${c.dataKey}" th:value="${querymap.get(c.dataKey)}"
					type="text" class="form-control _date">
			</div>
			<div class="col-sm-4" th:id="${c.dataKey}">
				<input th:name="${c.dataKey+'_bw2'}"
					th:value="${querymap.get(c.dataKey+'_bw2')}" type="text"
					class="form-control _date">
			</div>
		</div>


		<div
			th:if="${ T(String).isAssignableFrom(c.javaClass) && 
						!c.uiMeta.uiType.toString().equals('Password') }"
			class="form-group row">
			<label th:text="${c.title}"
				class="text-right col-sm-2 col-form-label">title</label>
			<div class="col-sm-2">
				<select th:name="${c.dataKey+'_operation'}"
					th:value="${querymap.get(c.dataKey+'_operation')}"
					class="form-control">
					<option value="">请选择条件</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='like'}"
						value="like">like</option>
					<option th:selected="${querymap.get(c.dataKey+'_operation')=='=='}"
						value="==">等于</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='is null'}"
						value="is null">为空</option>
					<option
						th:selected="${querymap.get(c.dataKey+'_operation')=='is not null'}"
						value="is not null">不为空</option>
				</select>
			</div>
			<div class="col-sm-4">
				<input th:name="${c.dataKey}" th:value="${querymap.get(c.dataKey)}"
					type="text" class="form-control">
			</div>
		</div>

	</th:block>

	<div class="form-group text-center">
		<script type="text/javascript">
			function _toggleBetwwenInput(obj) {
				var name = $(obj).attr('name');
				var inputId = name.substring(0, name.lastIndexOf('_'));
				if ($(obj).val() == "betwwen")
					$('#' + inputId).show();
				else
					$('#' + inputId).hide();
			}
			function _reset() {
				$('input').val('');
				$('select').val('');
				console.log('reset')
			}
		</script>
		<p>
			<button class="btn btn-info" type="button" onclick="_reset()">重置</button>
			<button class="btn btn-info" type="submit">搜 索</button>
		</p>
	</div>
</section>