@CHARSET "UTF-8";

._smallImg {
	width: 80px;
	height: 80px;
}

label.error {
	color: red
}

._autoelipse {
	max-width:200px; 
	display:inline-block;
	overflow : hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.box{
	padding-right:5px;
}