<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">后台管理</title>
      <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
   <!--  <link rel="stylesheet" type="text/css" href="" th:href="@{/js/wyseditor/bootstrap3-wysihtml5.min.css}"/> -->
    <!-- Theme style -->
    
    
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">

	<link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
	
	<link rel="stylesheet" type="text/css" href="" th:href="@{/js/html5editor/css/froala_editor.min.css}"/>
	<link rel="stylesheet" type="text/css" href="" th:href="@{/js/html5editor/css/froala_style.min.css}"/>
	<link rel="stylesheet" type="text/css" href="" th:href="@{/js/html5editor/css/plugins/table.min.css}"/>
	<link rel="stylesheet" type="text/css" href="" th:href="@{/js/html5editor/css/plugins/colors.min.css}"/>
 	<th:block laout:fragment="header"></th:block>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="/" th:href="@{/admin/}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"> <img src="favicon.ico" th:src="@{/favicon.ico}"/> </span>
            <span class="logo-lg"> <img src="favicon.ico" th:src="@{/favicon.ico}"/> <b>通用后台管理系统</b></span>
        </a>

        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

          <div class="navbar-custom-menu">  
          	<div layout:fragment="nav" th:replace="/admin/nav"></div>
       
            <ul class="nav  navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${T(org.apache.shiro.SecurityUtils).getSubject().getPrincipal()}">当前用户
                        <i class=" glyphicon-download-alt"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/changepwd">修改密码</a></li>
                        <li><a href="/admin/loginout">退出</a></li>
                    </ul>
                </li>
            </ul>
               </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">

            <ul class="sidebar-menu" layout:fragment="menu"  th:replace="/admin/menu">
                <li class="header">MAIN NAVIGATION</li>
            </ul>

        </section>
    </aside>

    <div class="content-wrapper">
        <div layout:fragment="content">
            this is tempalte layout content
        </div>
    </div>

    <footer class="main-footer">

        <div layout:fragment="footer">
            <div class="pull-right hidden-xs">
                <b>Version</b>1.0.0
            </div>
            <strong>Copyright &copy; 2017 .</strong> All rights reserved.
        </div>
    </footer>


</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dmuploader.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
 <!-- <script type="text/javascript" th:src="@{/js/wyseditor/bootstrap3-wysihtml5.all.min.js}"></script> -->
  <script type="text/javascript" th:src="@{/js/html5editor/js/froala_editor.pkgd.min.js}"></script>  
  <script type="text/javascript" th:src="@{/js/html5editor/js/plugins/colors.min.js}"></script> 
 <script type="text/javascript" th:src="@{/js/html5editor/js/plugins/table.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/html5editor/js/languages/zh_cn.js}"></script>  

<!--  <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.5/quill.js"></script> -->
<!-- AdminLTE App -->
<script src="dist/js/app.min.js" th:src="@{/js/app.min.js}"></script>
<script layout:fragment="js"></script> 
<script type="text/javascript" th:src="@{/js/common.js}"></script>

</body>
</html>
