<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<body>

	<h3>fullstack springboot web framework</h3>
	<ul>
		<li>springboot基础</li>
		<li>自动后台管理</li>
		<li>基于shiro的权限系统,基本的oauth2协议服务端实现</li>
		<li>可重载controller，ui及配置</li>
		<li>hibernate entity 自动管理,dao自动实现,动态加入bean管理</li>
		<li>ehcache实现cache</li>
		<li>数据库读写分写分离自动实现，仅仅配置读写数据源即可</li>
		<li>thymeleaf前端模板，layout，pagination</li>

	</ul>
	<center>
		<h3>
			<a href="/admin">后台管理(admin,123456)</a>
		</h3>
	</center>
</body>
</html>